@{
    ViewBag.Title = "Contact";
}
<style>
    .hidden {
        display: none;
    }

</style>
<button id="submitBtn" class="btn btn-primary">
    Submit
    <div id="hiddenSpinner" class="hidden loader pull-right"></div>
</button>

<script type="text/javascript">
    $("#submitBtn").click(function (e) {
        if (!$(e.target).hasClass('hidden')) {
            $("#hiddenSpinner").removeClass('hidden'); // Fixed selector and class handling
        }
    });

</script>